*{
  box-sizing: border-box;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  width:100vw;
  height: 100vh;
  border: 10px solid grey;
  gap:20px;
}

.board{
  display: flex;
  width:60%;
  border:5px solid grey;
  background-color: white;
  border-radius: 20px;
  padding:10px;
  gap:5px;
}
.column{
  display: flex;
  flex-direction: column;
  /* border:2px solid black; */
  border-radius: 20px;
  gap:5px;
  width:100%;
  
}
.column:hover{
  /* border:2px solid yellowgreen; */
  background-color: yellowgreen;
}
.slot{
  display: flex;
  
  width:100%;
  height: auto;
  aspect-ratio: 1/1;
  /* border:2px solid white; */
  border-radius: 100%;
  background-color: black;
  
}
.blue{
  background-color:blue;
}
.red{
  background-color:red;
}
.current-display{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.current-player{
  max-width: 60px;
  max-height: 60px;

}