

.board{
  display: flex;
  /* width:100%; */
  border:10px solid white;
  background-color: white;
  border-radius: 20px;
}
.column{
  display: flex;
  flex-direction: column;
}
.slot{
  display: flex;
  min-width: 50px;
  aspect-ratio: 1/1;
  border:2px solid white;
  border-radius: 100%;
  background-color: black;
  
}
.blue{
  background-color:blue;
}
.red{
  background-color:red;
}